@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* Clase 2 */
html {
    --bg-color-200:hsl(214, 25%, 3%);
    --bg-color-200-75:hsla(214, 25%, 11%, 0.75);
    --bg-color-400:hsl(214, 20%, 16%);

    --text-color:hsl(215, 25%, 90%);

    --accent-color-200:hsl(24, 43%, 7%);
    --accent-color-400:hsl(2, 86%, 56%);
    --accent-color-500:hsl(0, 100%, 78%);

    --txt-heading: "Bebas Neue", sans-serif;
    --txt-base:"Nunito Sans", sans-serif;
}

body {
    margin: 0;
    font-family: var(--txt-base);
    background-color: var(var(--bg-color-200)) ;
    color:var(--text-color);
    
    line-height: 1.5;
}
/* Clase 4 */
.Principal {
  background-image: url('../img/006Fondo.jpg');
  background-size: cover;
  background-position: center;
  padding: 2rem;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
}

/*clase5
.menu{
    list-style: none;
er {    padding: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;    
}*/
.menu {
  color: var(--accent-color-400);
}

header,
footer {
    background-color: var(--bg-color-400);
}

h1, h2, h3 {
  font-family: var(--txt-heading);
  font-size: 1.75rem;
  color: var(--accent-color-400); 
  text-align: center;    
}
.grid-contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));/*clase4 1:28*/
    gap: 1rem;
    padding: 2rem;
    aspect-ratio: 1; /*clase 4 mantiene el tamaño de los contenedores*/
}    
.rubro article {
    background-color: var(--bg-color-400);
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2); /*busque para darle algo*/
    display: flex;
    flex-direction: column;   /* imagen arriba, texto debajo */
    align-items: center;      /* centra horizontalmente */
    padding: 1rem; /*clase 4 1:39*/
}     
.rubro img {
    width: 100%;              /* ocupa todo el ancho disponible */
    height: auto;             /* mantiene proporción */
    border-radius: 0.25rem;
    object-fit: cover;        /*clase4* evita deformaciones */
    margin-bottom: 0.5rem;
}
.rubro button {
    background-color: var(--accent-color-400);
    color: var(--text-color);
    font-size: 1rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
}
.rubro button:hover {
    background-color: var(--accent-color-500);
}
.rubro.button:active {
    background-color: var(--accent-color-200);  
}

footer {
    background-color: var(--bg-color-400);
    text-align: center;
    padding: 1rem;
}
footer h2 {
    font-size: 1.5rem;
}

/*.contenedor-grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
footer {
    background-color: var(--bg-color-400);
    text-align: center;
    padding: 1rem;
}
/* regla para pantallas y ancho Hasta 768px*/
@media (max-width: 768px) {
    .rubro {
        flex-direction: row;
    }
}

.iniquien {
    background-color: var(--bg-color-200);
    padding: 1rem; /*clase 4 1:39*/
    margin: 1.25rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;   /* imagen arriba, texto debajo */
    align-items: center;      /* centra horizontalmente */
}
.iniquien {
    color: var(--accent-color-500);
    font-size: 1.5rem;
    margin-bottom: 0.9375rem;
}
.iniquien {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-color);
}