@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* Clase 2 */
html {
    --bg-color-200:hsl(214, 25%, 3%);
    --bg-color-200-75:hsla(214, 25%, 11%, 0.75);
    --bg-color-400:hsl(214, 20%, 16%);

    --text-color:hsl(215, 25%, 90%);

    --accent-color-200:hsl(24, 43%, 7%);
    --accent-color-400:hsl(2, 86%, 56%);
    --accent-color-500:hsl(0, 100%, 78%);

    --txt-heading: "Bebas Neue", sans-serif;
    --txt-base:"Nunito Sans", sans-serif;
    --contenedor-sz:min(64rem, 100%);
    font-size: 16px;  /*Clase 6 = 1rem*/
}

body {
    margin: 0;
    font-family: var(--txt-base);
    background-color:var(--bg-color-200) ;
    color:var(--text-color);
    line-height: 1.5;
}
/* Clase 4 */
.Principal {
  background-image: url('../img/006Fondo.jpg');
  background-size: cover;
  background-position: center;
  padding: 2rem;
  text-align: center;
  /*color: white;*/
  background-repeat: no-repeat;
  min-height: 35vh;
}

/*clase5*/
.menu {
  color: var(--accent-color-400);
  list-style: none;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  display: block;           /* vertical */
  text-align: center;       /* centra */
  gap: 1rem;    
}

@media (max-width: 768px) {
  .menu {
    display: block;           /* vertical */
    text-align: center;       /* centra */
  }
  .menu li {
    margin-bottom: 0.75rem;   /* espacio entre ítems */
  }
}


h1, h2, h3 {
  font-family: var(--txt-heading);
  font-size: 1.75rem;
  color: var(--accent-color-400); 
  text-align: center;    
}

.contenedor-grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
    align-items: stretch;
}
                  
.rubro {
    background-color: var(--bg-color-400);
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2); /*busque para darle algo*/
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

}   
.rubro p {
    margin: 0; /* elimina margen por defecto */
    flex-grow: 1; /* ocupa espacio disponible */
}

.rubro img {
    width: 100%;              /*Clase 6 ocupa todo el ancho disponible */
    height: 200px;           /* mantiene proporción o fija */
    object-fit: cover;        /*clase4* evita deformaciones */
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.rubro button {
    background-color: var(--accent-color-400);
    color: var(--text-color);
    font-size: 1rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    padding: 0.625rem 1.25rem; 
    width: 100%; 
    max-width: 200px;/* ocupa todo el ancho del contenedor */
}
.rubro button:hover {
    background-color: var(--accent-color-500);
}
.rubro.button:active {
    background-color: var(--accent-color-200);  
}

header,
footer {
    background-color: var(--bg-color-400);
}
footer {
    background-color: var(--bg-color-400);
    text-align: center;
    padding: 1rem;
}
footer h2 {
    font-size: 1.5rem;
}
/* regla para pantallas y ancho Hasta 768px*/
@media (max-width: 768px) {
    .contenedor-grid {
        grid-template-columns: 1fr;
    }
}

.iniquien {
    background-color: var(--bg-color-200);
    padding: 1rem; /*clase 4 1:39*/
    margin: 1.25rem;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;   /* imagen arriba, texto debajo */
    align-items: center;      /* centra horizontalmente */
    color: var(--accent-color-500);
    font-size: 1.5rem;
    margin-bottom: 0.9375rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-color);
}


#quienes_somos {
  max-height: 20rem;          /* altura*/
  overflow-y: auto;           /* agrega scroll si se excede */
    /*  display: none; /* oculto al inicio */
    /*display:block */
}


ul li {
  font-weight: bold;       /* grueso */
  color: var(--accent-color-400); 
  font-size: 1.2rem;       /*fui ajustando más grande*/
  margin-bottom: 0.5rem;   /*Regule espacios entre ítems*/
}
